* {
  font-family: "OpenSans", sans-serif;
}
html {
  height: 100%;
}
img {
  width: 100%;
}
.container {
  width: 1012px;
  margin: auto;
}
.page {
  height: 100%;
  background-color: #ebebeb;
  overflow-x: hidden;
}
.page-wrapper {
  position: relative;
  width: 1054px;
  margin: auto;
  background-color: #ffffff;
}
@media (max-width: 1050px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 925px) {
  .container {
    width: 689px;
  }
}
@media (max-width: 750px) {
  .container {
    width: 320px;
    margin-left:  auto;
    margin-right: auto;
  }
}
