$gallery-bg: #fafafa;
$gallery-border: #bfbfbf;
$basic-blue: #00aedb;
$basic-hover: #105b62;
$basic-orange: #f78f1d;
$basic-purple: #5261ac;
$basic-green: #8cc63f;
$basic-red: #ff0000;
$basic-grey: #898989;
$basic-border-grey: #dedddd;
$basic-white: #ffffff;
$basic-fashion: #ec098d;
