.main-nav {
  padding-right: 20px;
}
.main-nav__switch {
  display: none;
}
.menu {
  @include default-list;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: flex-start;
  padding-left: 8px;
}
.menu-item {
  text-align: center;
  cursor: pointer;
  transition: all .5s;

  &--main {
    flex: 1 1 8.5%;
    background-color: $basic-blue;
  }
  &--movie {
    flex: 1 1 8.6%;
    background-color: $basic-green;
  }
  &--shop {
    flex: 1 1 8.2%;
    background-color: $basic-purple;
  }
  &--project {
    flex: 1 1 8.5%;
    background-color: $basic-blue;
  }
  &--news {
    flex: 1 1 8.6%;
    background-color: $basic-orange;
  }
  &--archiev {
    flex: 1 1 8.5%;
    background-color: $basic-red;
  }
  &--contacts {
    background-color: $basic-grey;
    flex: 2 1 32%;
    text-align: left;
  }
}
.menu-item__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: $basic-white;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all .5s;

  &:hover {
    background-color: $basic-hover;
  }
  &--contacts {
    padding-left: 10px;
  }
}

@media (max-width: 1050px) {
  .menu {
    padding-left: 0;
  }
  .menu-item--contacts {
    flex: 1 1 15%;
  }
}
@media (max-width: 750px) {
  .menu {
    flex-direction: column;
    width: 100%;
  }
  .menu-item {
    width: 100%;
    text-align: center;
  }
  .main-nav {
    padding: 0;
  }
  .menu {
    display: none;
  }
  .menu-mobiles {
    display: block;
  }
  .main-nav__switch {
    display: block;
    cursor: pointer;
    width: 35px;
    margin-bottom: 10px;
  }
  .menu-btn-elem {
    display: block;
    width: 30px;
    height: 5px;
    background-color: $basic-blue;
    margin-bottom: 5px;
  }
}
