.page-header {
  padding-top: 29px;
  padding-left: 12px;
  margin-bottom: 8px;
}
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-left: 7px;
}
.socials-list {
  @include default-list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header__logo {
  background: url('../img/logo-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-right: 20px;
  height: 47px;
}
.page-link {
  font-size: 42px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.search-form {
  margin-right: 40px;
  padding-top: 30px;
}
.search-form__input {
  width: 313px;
  padding-top: 11px;
  padding-bottom: 7px;
  padding-left: 10px;
  border: 1px solid $gallery-border;

  &:focus {
    outline: none;
  }
}
.search-form__submit-btn {
  width: 121px;
  margin-left: -10px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  color: white;
  background-color: $basic-blue;
  border: none;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background-color: $basic-hover;
  }
}
.socials-list {
  margin-right: 8px;
  margin-top: 26px;
}
.socials-list__item {
  width: 37px;
  height: 37px;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color .5s;

  &--rss {
    background-color: $basic-orange;
    background-image: url('../img/rss-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--fb {
    background-color: $basic-purple;
    background-image: url('../img/fb-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--tw {
    background-color: $basic-blue;
    background-image: url('../img/twitter-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    background-color: $basic-hover;
  }
}
@media (max-width: 1050px) {
  .page-header__wrapper {
    flex-wrap: wrap;
    padding-left: 0;
  }
  .page-header__logo {
    order: 1
  }
  .page-header__social {
    order: 2;
  }
  .page-header__search {
    order: 3;
    width: 100%;
    margin-right: 0;
  }
  .search-form__input {
    width: 75%;
  }
  .search-form__submit-btn {
    width: 21.5%;
  }
}
@media (max-width: 925px) {
  .page-header__wrapper {
    justify-content: flex-start;
  }
  .page-header__logo {
    margin-right: 20px;
  }
}
@media (max-width: 750px) {
  .page-header__search {
    display: flex;
    flex-direction: column;
  }
  .search-form__input {
    width: 96.5%;
    margin: 0;
  }
  .search-form__submit-btn {
    width: 100%;
    margin: 0;
  }
  .page-header__logo {
    margin: auto;
    margin-bottom: 15px;
  }
  .page-header__social {
    margin: auto;
  }
}
